@import '../../partials/mixins';

.video {
  margin-top: 1rem;
  text-align: center;
  background-color: black;

  &__poster {
    max-width: 100%;
    @include tablet {
      height: 24.5rem;
    }
    @include laptop {
      height: 37rem;
    }
  }
}
